<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>details</title>
</head>
<body>
<h2>Bank Account Details</h2>

<div>
<div th:if="${username}" style="color: green; font-size: 40">
    <span th:text="${username}"></span>
</div>
<div th:if="${balance}" style="color: green;font-size: 40">
    <span th:text="${balance}"></span>
</div>

<div th:if="${error}" style="color: red;font-size: 40">
    <span th:text="${error}"></span>
</div>
</div>


</body>
</html>